.stock-movement-list {
  margin: 20px;
}

.stock-movement-list table {
  width: 100%;
  border-collapse: collapse;
}

.stock-movement-list th,
.stock-movement-list td {
  border: 1px solid #ddd;
  padding: 8px;
}

.stock-movement-list th {
  background-color: #f2f2f2;
  text-align: left;
}

.stock-movement-list tr:hover {
  background-color: #f1f1f1;
}

.stock-movement-list .action-buttons {
  display: flex;
  justify-content: space-between;
}

.stock-movement-list .action-buttons button {
  margin: 5px;
}

.table th {
  background-color: #599df6;
}