body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F5F7FA;
}

h1,
h2,
h3 {
  color: #333;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.btn {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  background: #1A73E8;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #0F4FB0;
}

.table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #599df6;
}
